body {
    background-color: black;
    font-family: 'Cinzel', serif;
    margin: auto;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size:80px;
}
.wrapper {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: " banner center logo" "nav nav nav" "main main sidebar " "footer footer footer";
    grid-gap: 4px;
}

/*-----------area colouring-----------*/
.box {
    border: solid 1px #000000;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
}

.logo {
    background-color: #991122;
}

.banner {
    background-color: #002266;
}

.main {
    background-color: #335544;
}

.sidebar{
    background-color:;
}

.footer {
    background-color: #4455aa;
}

.center {
   
}
/*--------- Area colouring end ---------*/

/*--------- Area Stylering -------------*/
.logo {
    grid-area: logo;
}

.banner {
    grid-area: banner;
}

.center {
    grid-area:center;
}
.nav {
    grid-area: nav;
    font-size: 25px;
    text-align: center;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
    padding: 1px;
}

.footer {
    grid-area: footer;
}
/*--------- Area Stylering end -----------*/